div#login-card {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
	padding-bottom:20px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#facebook-login-button {
    background-color: #3b5998;
    color: white;
    width: 300px;
    padding: 5px 20px 0px 20px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
	font-weight:bolder;
    border: none;
    outline: none;
}

#login-button {
    background-color: red;
    color: white;
    width: 300px;
    padding: 5px 6px 5px 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    border: none;
    outline: none;
	font-weight:bolder;
}
