div#registration-card {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#general-dp-card {
    width: 1000px;
    text-align: center;
}

.reg-nav-button {
    background-color: red;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    text-align: center;
    color: white;
    text-transform: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.reg-next-arrow {
    padding-bottom: -5px;
}

.tabsdemoStaticTabs md-tab-content {
    padding: 25px;
}

.tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #42A5F5;
}

.tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #689F38;
}

.tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #26C6DA;
}

.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px;
}

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0;
}

#general-dp-card {
    width: 1000px;
}

#tab2 {
    background-color: #999999;
}

.persona {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

.persona:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

.persona-unit {
    height: 90px;
    width: 240px;
    padding-left: 30px;
    padding-right: 30px;
}
