div#registration-card {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#general-dp-card {
    width: 1000px;
    text-align: center;
}

.tabsdemoStaticTabs md-tab-content {
    padding: 25px;
}

.tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #42A5F5;
}

.tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #689F38;
}

.tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #26C6DA;
}

.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px;
}

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0;
}

#general-dp-card {
    width: 1000px;
}

#tab2 {
    background-color: #999999;
}

