<div class="content" ng-controller="ChildController as cctrl">
    <div layout="row" layout-align="space-around center">
        <md-card layout="column" style="width:640px">
            <md-card-title>
                <md-card-title-text>
                    Child Accounts
                </md-card-title-text>
            </md-card-title>
            <md-divider class="general-divider"></md-divider>
            <md-card-content flex="100" layout="column" layout-align="space-around center">
                <md-list>
                    <md-list-item ng-repeat="child in cctrl.children" ng-click="cctrl.goToChild(child.username)" class="noright">
                        <img alt="{{ child.fullName }}" ng-src="{{ child.img }}" class="md-avatar" />
                        <p>{{ child.fullName }}</p>
                    </md-list-item>
                </md-list>
                <md-button class="reg-nav-button " ng-click="cctrl.showCreateChild()">Create Child</md-button>
            </md-card-content>
        </md-card>
    </div>
</div>
