<div id="profile" ng-controller="UserController as uctrl" data-ng-init="uctrl.findOne()">
    <div id="general" layout="row">
        <md-card style="height:160px;width:160px;">
            <img data-ng-src="img/vkumar.jpg"></img>
        </md-card>
        <md-card flex=100%>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
        		            {{uctrl.fullname}}
        		            <nav style="float:right">
        		              <ng-md-icon icon="facebook" size="24" ng-click="redirect('facebook')"></ng-md-icon>
        		              <ng-md-icon icon="twitter" size="24" ng-click="redirect('twitter')"></ng-md-icon>
        		              <ng-md-icon icon="google-plus" size="20" ng-click="redirect('google')"></ng-md-icon>
        		            </nav>                
        		          </span>

                </md-card-title-text>
            </md-card-title>
            <md-divider class="general-divider"></md-divider>
            <md-card-content>
                <div ng-repeat="(key,value) in uctrl.generaldetails">
                    <div class="label"><span style="color:red">{{key}}:</span></br>{{value}}</div>
                    </br>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <md-card>
        <md-card-content ng-hide="uctrl.read_about">
            <div class="label"><span style="color:red">About:</span></br>{{uctrl.about_short}}</div>
            </br>
            <div style="float:right">
                <label style="color:red" ng-click="uctrl.read_about=true;">Read more ></label>
            </div>
        </md-card-content>
        <md-card-content ng-show="uctrl.read_about">
            <div class="label"><span style="color:red">About:</span></br>{{uctrl.about}}</div>
            </br>
            <div style="float:right">
                <label style="color:red" ng-click="uctrl.read_about=false;">Read less ></label>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="card-discipleship" ng-repeat="(cardHead,subHead) in uctrl.musicdetails">
        <div id="card-red-span" class="md-headline">{{cardHead}}</div>
        <md-card-content layout="column" layout-align="space-between">
            <div class="card-media" ng-repeat="(event,description) in subHead">
                <span class="redText">{{event}}</span>
                <br>
                <div ng-repeat="(key,value) in description"><span style="font-weight: bold;">{{key}}</span>{{" - "+value+"\n"}}</div>
                </br>
                </br>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="card-tutorship">
        <div id="card-red-span" class="md-headline">TUTORSHIP</div>
        <md-card-content layout="column" layout-align="space-between">

            <div class="card-media" ng-repeat="(title,fields) in uctrl.tutorship">
                <span class="redText">{{title}}</span></br>
                <span ng-repeat="(x,y) in fields">{{x}}</br>
                    <span ng-repeat="(a,b) in y" ng-show="x!='Students'">
                        {{a}}-{{b}}</br>
                    </span></br>
                <span ng-show="x=='Students'">
                        {{y}}</br>
                    </span></br>
                </span>
                </br>
            </div>
        </md-card-content>
    </md-card>


    <!-- editing section -->
</div>
