<div class="content" ng-controller="RegistrationController as rctrl" layout="column" layout-align="center center">
    <div layout="row" ng-show="rctrl.page == 1">
        <md-card style="height:160px;width:160px;" ng-show="!rctrl.dp">
            <input type="file" fileread="rctrl.dp" />
        </md-card>
        <md-card style="height:160px;width:160px;" ng-show="rctrl.dp">
            <img data-ng-src="{{rctrl.dp}}"></img>
        </md-card>
        <form name="userForm" ng-submit="rctrl.regNext()">
            <md-card layout="row">
                <div id="general-info-card" layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            General Details
                        </md-card-title-text>
                    </md-card-title>
                    <md-divider class="general-divider"></md-divider>
                    <md-card-content>
                        <div id="registration-card-1">
                            <div layout-gt-sm="row" layout-align="space-around center">
                                <md-input-container class="md-block">
                                    <input ng-bind="rctrl.userDetails.firstName" ng-model="rctrl.userDetails.firstName" placeholder="First Name" required>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <input ng-bind="rctrl.userDetails.lastName" ng-model="rctrl.userDetails.lastName" placeholder="Last Name" required>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="space-around center">
                                <md-input-container class="md-block">
                                    <label>Date of birth</label>
                                    <input ng-bind="rctrl.userDetails.dateOfBirth" ng-model="rctrl.userDetails.dateOfBirth" placeholder="yyyy-mm-dd" required>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Area Pincode</label>
                                    <input ng-bind="rctrl.userDetails.pinCode" ng-model="rctrl.userDetails.residenceLocation.pinCode" placeholder="xxxxxx" required>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="space-around center">

                                <md-input-container class="md-block">
                                    <label>Moblie Number</label>
                                    <input ng-bind="rctrl.userDetails.phoneNumber" ng-model="rctrl.userDetails.phoneNumber" placeholder="+91xxxxxxxxxx" required>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <input ng-bind="rctrl.userDetails.email" ng-model="rctrl.userDetails.email" placeholder="Email" required>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="space-around center">
                                <md-button id="next-button" ng-click="rctrl.sendVerificationCode()">
                                    <label>Send verification code</label>
                                </md-button>
                            </div>
                            <div layout-gt-sm="row" layout-align="space-around center">
                                <md-input-container class="md-block">
                                    <input ng-model="rctrl.mobileVC" placeholder="Enter mobile code here" required>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="space-around center" ng-show="rctrl.invalidVC">
                                Invalid code. Please try again.
                            </div>
                        </div>
                    </md-card-content>
                </div>
            </md-card>
            <div layout="row" layout-align="space-between center">
                <label></label>
                <md-button type="submit" class="reg-nav-button">
                    <label>NEXT</label>
                </md-button>
            </div>
        </form>
    </div>

    <div ng-show="rctrl.page == 2" layout="column">
        <md-card layout="column" layout-align="center center">
            <md-card-title>
                <md-card-title-text>
                    What best describes you?
                </md-card-title-text>
            </md-card-title>
            <md-divider class="general-divider"></md-divider>
            <md-card-content>
                <div layout="column" layout-align="center center">
                    <div layout="row">
                        <div style="height:160px; width:240px;" class="persona-unit" ng-click="rctrl.personas['Guru']=!rctrl.personas['Guru']" layout layout-align="center center">
                            <img class="persona" src="img/Guru.jpg" alt="not found" />
                            <ng-md-icon icon="done" class="check-icon" style="fill: green" size="34" ng-show="rctrl.personas['Guru']"></ng-md-icon>
                        </div>

                        <div style="height:160px; width:240px;" class="persona-unit" ng-click="rctrl.personas['Shishya']=!rctrl.personas['Shishya']" layout layout-align="center center">
                            <img class="persona" src="img/Shishya.jpg" alt="not found" />
                            <ng-md-icon icon="done" class="check-icon" style="fill: green" size="34" ng-show="rctrl.personas['Shishya']"></ng-md-icon>
                        </div>

                        <div style="height:160px; width:240px;" class="persona-unit" ng-click="rctrl.personas['Kalaakar']=!rctrl.personas['Kalaakar']" layout layout-align="center center">
                            <img class="persona" src="img/Kalaakar.jpg" alt="not found" />
                            <ng-md-icon icon="done" class="check-icon" style="fill: green" size="34" ng-show="rctrl.personas['Kalaakar']"></ng-md-icon>
                        </div>
                    </div>
                    <div layout="row">
                        <div style="height:160px; width:240px;" class="persona-unit" ng-click="rctrl.personas['Sanghataka']=!rctrl.personas['Sanghataka']" layout layout-align="center center">
                            <img class="persona" src="img/Sanghataka.jpg" alt="not found" />
                            <ng-md-icon icon="done" class="check-icon" style="fill: green" size="34" ng-show="rctrl.personas['Sanghataka']"></ng-md-icon>
                        </div>

                        <div style="height:160px; width:240px;" class="persona-unit" ng-click="rctrl.personas['Pandita']=!rctrl.personas['Pandita']" layout layout-align="center center">
                            <img class="persona" src="img/Pandita.jpg" alt="not found" />
                            <ng-md-icon icon="done" class="check-icon" style="fill: green" size="34" ng-show="rctrl.personas['Pandita']"></ng-md-icon>
                        </div>
                        <div style="height:160px; width:240px;" class="persona-unit" ng-click="rctrl.personas['Rasika']=!rctrl.personas['Rasika']" layout layout-align="center center">
                            <img class="persona" src="img/Rasika.jpg" alt="not found" />
                            <ng-md-icon icon="done" class="check-icon" style="fill: green" size="34" ng-show="rctrl.personas['Rasika']"></ng-md-icon>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" layout-align="space-between center">
            <md-button class="reg-nav-button" ng-click="rctrl.page = 1" ng-show="rctrl.page == 2">
                <label>PERVIOUS</label>
            </md-button>
            <md-button class="reg-nav-button" ng-click="rctrl.regFinish()" ng-show="rctrl.page == 2">
                <label>FINISH</label>
            </md-button>
        </div>
    </div>

    <div ng-show="rctrl.page == 3" layout="column">
        <md-card layout="column" layout-align="center center">
            <md-card-title>
                <md-card-title-text>
                    <span>Congratulations!</span>
                    <br/><span>Your registration is complete..</span>
                </md-card-title-text>
            </md-card-title>
            <md-divider class="general-divider"></md-divider>
            <md-card-content>
                <div layout="column" layout-align="center center">
                    <div layout="column">
                        <div layout="row">
                            <img ng-src="img/GotoHomepage.png" ng-click="rctrl.gotoHome()" class="md-card-image" alt="Washed Out">
                            <img ng-src="img/CreateProfile.png" ng-click="rctrl.gotoProfile()" class="md-card-image" alt="Washed Out">
                        </div>
                        <div layout="row">
                            <img ng-src="img/CreateChildPage.png" ng-click="rctrl.gotoChild()" class="md-card-image" alt="Washed Out">
                            <img ng-src="img/Invite.png" ng-click="rctrl.gotoInvite()" class="md-card-image" alt="Washed Out">
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" layout-align="space-between center">
            <md-button class="reg-nav-button" ng-click="rctrl.page = 1" ng-show="rctrl.page == 2">
                <label>PERVIOUS</label>
            </md-button>
            <md-button class="reg-nav-button" ng-click="rctrl.regFinish()" ng-show="rctrl.page == 2">
                <label>FINISH</label>
            </md-button>
        </div>
    </div>
</div>
